[submodule "Epression_Represantation_Generators/SPECTRE/spectre_model/external/face_alignment"]
	path = Epression_Represantation_Generators/SPECTRE/spectre_model/external/face_alignment
	url = https://github.com/hhj1897/face_alignment.git
